testCases/testCaseSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2012 Cluain Krystian Szczesny
  ~
  ~ testCaseSchema.xsd is part of resTest.
  ~
  ~ resTest is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ resTest is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with resTest.  If not, see <http://www.gnu.org/licenses/>.
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://it.cluain.pl"
           xmlns="http://it.cluain.pl">
    <xs:element name="case" type="caseType"/>
    <xs:complexType name="caseType">
        <xs:sequence>
            <xs:element type="propertyType" name="property"
                        maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="sharedRestValidation" type="xs:string" minOccurs="0"/>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="rest" type="restStepType"/>
                <xs:element name="groovy" type="groovyStepType"/>
                <xs:element name="csv" type="csvTestType"/>
                <xs:element name="loop" type="loopTestType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="url"/>
    </xs:complexType>
    <xs:complexType name="paramType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="xs:string" name="value" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="stepTypesType">
        <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="rest"/>
            <xs:enumeration value="groovy"/>
            <xs:enumeration value="loop"/>
            <xs:enumeration value="csv"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="httpMethodsType">
        <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="get"/>
            <xs:enumeration value="post"/>
            <xs:enumeration value="put"/>
            <xs:enumeration value="delete"/>
            <xs:enumeration value="options"/>
            <xs:enumeration value="head"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="restStepType">
        <xs:sequence>
            <xs:element name="param" type="propertyType" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="beforeTest" type="xs:string"
                        minOccurs="0"/>
            <xs:element name="validate" type="xs:string" minOccurs="0"/>
            <xs:element name="afterTest" type="xs:string" maxOccurs="1"
                        minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="url" type="xs:string"/>
        <xs:attribute name="endpoint" type="xs:string" use="required"/>
        <xs:attribute name="method" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="get"/>
                    <xs:enumeration value="post"/>
                    <xs:enumeration value="put"/>
                    <xs:enumeration value="delete"/>
                    <xs:enumeration value="head"/>
                    <xs:enumeration value="options"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="logResponse" type="xs:boolean"/>
        <xs:attribute name="responseType">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="xml"/>
                    <xs:enumeration value="json"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="propertyType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="groovyStepType" mixed="true">
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="loopTestType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="dataSource" type="xs:string"/>
        <xs:attribute name="target" type="xs:string" use="required"/>
        <xs:attribute name="repeat" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="csvTestType">
        <xs:sequence>
            <xs:element name="param" type="propertyType"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="fileName" type="xs:string" use="required"/>
        <xs:attribute name="separator" type="xs:string"/>
    </xs:complexType>
</xs:schema>